.conteudo__titulo {
    font-size: 18px;
    font-weight: 400;
    background-color: var(--fundo-claro);
    text-align: center;
    padding: 1em 2em;
}

.conteudo__resenhas {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    text-align: center;
    padding: 1.5em;
}

.conteudo__resenhas-post {
    margin-bottom: 1.5em;
    text-decoration: none;
}

.conteudo__texto {
    text-align: left;
    margin-bottom: 1em;
}

.conteudo__resenhas-img {
    width: 100%;
}

.conteudo__resenhas-titulo, .conteudo__resenhas-autor {
    color: var(--cor-comum);
}

.conteudo__resenhas-titulo {
    font-size: 15px;
}

.conteudo__resenhas-autor {
    font-size: 12px;
}

.conteudo__categorias, .conteudo__resenhas-descricao {
    display: none;
}

@media screen and (min-width: 1024px) {
    
    .conteudo__titulo {
        border-radius: 10px;
        width: 90%;    
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .conteudo__categorias {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .conteudo__categorias-item {
        background-color: var(--fundo-claro);
        border-radius: 10px;
        padding: 1em 3em;
        margin: 1em;
        
    }

    .conteudo__categorias-link {
        text-decoration: none;
        color: var(--cor-comum)
    }

    .conteudo__resenhas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 95%;
    }

    .conteudo__resenhas > li {
        flex-basis: 45%;
    }

    .conteudo__resenhas-post {
        width: 100%; 
    }

    .conteudo__texto {
        margin: 1em;
    }

    .conteudo__resenhas-item {
        border-radius: 10px;
        box-shadow: 0px 10px 10px #00000050;
        margin-bottom: 1.5em;
    }

    .conteudo__resenhas-titulo {
        font-size: 20px;
    }

    .conteudo__resenhas-autor {
        font-size: 15px;
    }

    .conteudo__resenhas-descricao {
        display: flex;
        font-size: 15px;
        font-weight: 700;
        color: var(--cor-comum);
        padding: 0.5em 0;
    }
}


