.cabecalho__menu-categorias {
    width: 40px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--fundo-claro);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.container {
    display:flex;
    align-items: center;
}

.container__imagem {
    padding: 1.8em;
}

.container__logo {
    padding: 0.5em;
}


.cabecalho__conta-categorias {
    width: 30px;
    height: 28px;
    background-image: url("../img/Perfil.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.opcoes__icone {
    padding: 0 1em;
}

.opcoes__imagem {
    padding: 1.7em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
    
    
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-categorias{
    background-image: url("../img/Menu-aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background-color: var(--fundo-escuro);
}

.container__botao:checked ~ .lista-menu {
    display: block;

}

.lista-menu__titulo, .lista-menu__item {
    background-color: var(--fundo-escuro);
}

.lista-menu__titulo {
    font-size: 18px;
    color: var(--cor-destaque);
    font-weight: 700;
    display: flex;
    padding: 1em 0.8em 0em 0.8em;
}

.lista-menu__item {
    padding: 0.7em;
    display: flex;
    padding: 0.8em 2em;
}

.lista-menu__link {
    font-weight: 500;
    color: var(--fonte-texto);
    text-decoration: none;
}

.container__botao {
    display: none;
}

.opcoes__conta:checked ~ .opcoes__rotulo > .cabecalho__conta-categorias {
    background-image: url("../img/Conta-aberto.svg");
}

.opcoes__conta:checked ~ .opcoes__rotulo {
    background-color: var(--fundo-escuro);
}

.opcoes__conta:checked ~ .opcoes-menu {
    display: block;
}

.opcoes-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
}

.opcoes-menu__titulo, .opcoes-menu__item {
    background-color: var(--fundo-escuro);
}

.opcoes-menu__titulo {
    font-size: 18px;
    color: var(--cor-destaque);
    font-weight: 700;
    display: flex;
    padding: 1em 0.8em 0em 0.8em;
}

.opcoes-menu__item {
    padding: 0.7em;
    display: flex;
    padding: 0.8em 2em;
    text-align: center;
}

.opcoes-menu__link {
    font-weight: 500;
    color: var(--fonte-texto);
    text-decoration: none;
    display: flex;
}

.opcoes-menu__icone {
    margin-right: 1em;
}

.container__desktop, .banner__pesquisa__desktop, .opcoes__conta, .opcoes__link__desktop, .opcoes__link__texto{
    display: none;
}

@media screen and (min-width: 1024px) {
    .container {
        display: none;
    }

    .container__desktop {
        display: flex;
        align-items: center;
        padding: 0 1em;
        gap: 2em;
        width: 40%;
    }

    .identidade__texto__header {
        font-size: 20px;
        font-weight: 700;
    }
    
    .identidade__destaque__header {
        color: var(--cor-destaque)
    }

    .banner__pesquisa__desktop {
        display: flex;
        background-color: var(--fundo-escuro);
        border: none;
        font-family: var(--fonte-texto);
        padding: 0.5em; 
        border-radius: 30px;
        width: 60%;
    }

    .banner__pesquisa__desktop::placeholder {
        font-family: var(--fonte-texto);
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        background: url("../img/Pesquisa.svg");
        background-repeat: no-repeat;
        background-position: 3em;  
        padding: 1em;
    }

    .opcoes__link {
        display: none;
    }

    .opcoes__link__desktop {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-comum)

    }

    .opcoes__link__texto {
        font-size: 18px;
        font-weight: 700;
    }

    .cabecalho {
    background-color: var(--fundo-claro);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: relative;
    }

    .opcoes {
        display: flex;
        justify-content: space-between;
        gap: 3em;
    }

    .opcoes__imagem {
       padding: 1.8em;
    }

    .opcoes__icone {
        width: 30%;
    }

    .opcoes__rotulo {
        display: flex;
        align-items: center;
        padding: 0 2em 0 0;
    }

    .opcoes__conta:checked ~ .opcoes__rotulo > .opcoes__link__texto {
        color: var(--cor-destaque)
    }

    .opcoes__link__texto {
        display: flex;
    }

    .mobile {
        display: none;
    }

    .opcoes-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 85%;
        width: 15vw;
    }

    .opcoes-menu__titulo {
        display: none;
    }
}
