.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.perfil__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1em;
}

.perfil__nome {
    font-size: 25px;
    font-weight: 700;
    color: var(--cor-destaque);
}

.perfil__username {
    font-size: 15px;
    font-weight: 400;
    padding: 0.5em 0 2em 0;
}

.perfil__img {
    width: 80%;
    border-radius: 200px;
    margin-bottom: 1em;
}

.perfil__img__submit {
    background-color: var(--cor-destaque);
    border-radius: 10px;
    color: var(--cor-comum);
    font-family: var(--fonte-texto);
    font-size: 15px;
    font-weight: 700;
    padding: 1em;
    margin-top: 2em;
    border: none;
}

.perfil__bio {
    background-color: var(--fundo-claro);
    border-radius: 5px;
    margin: 1em 0.5em;
    padding: 1em;
}

.perfil__titulo {
    color: var(--cor-destaque);
    font-weight: 700;
    font-size: 25px;
}

.perfil__editar {
    text-decoration: none;
    color: var(--cor-comum);
    background-color: var(--cor-destaque);
    padding: 1em;
    border-radius: 10px;
    width: 40%;
}

.perfil__resenhas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
    gap: 1em;
}

.perfil__joined {
    color: var(--cor-destaque);
    margin-bottom: 1em;

}

.perfil__desktop {
    display: none
}

.perfil__joined {
    text-align: center;
}

.perfil__lendo {
    align-items: center;
    text-align: center;
    margin: 0 1em;
}

.conteudo__resenhas-user {
    list-style-type: none;
}

.botao__editar-mobile {
    background-color: var(--cor-destaque);
    border: none;
    font-family: var(--fonte-texto);
    font-weight: 700;
    font-size: 16px;
    color: var(--cor-comum);
    padding: 1em;
    margin-bottom: 1.5em;
    border-radius: 10px;
    width: 50%;
}

@media screen and (min-width: 1024px) {
    .perfil__info-dados, .perfil__titulo, .botao__editar-mobile {
        display: none;
    }

    .perfil__desktop {
        display: flex;
        justify-content: space-between;
    }

    .perfil__info-bio {
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align:left;
        padding: 4em 2em;
    }

    .perfil__bio {
        background-color: var(--fundo-claro);
        border-radius: 5px;
        width: 100%;
    }

    .perfil__title-desktop {
        font-size: 30px;
        font-weight: 600;
        padding: 0.5em;
    }

    .perfil__destaque {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 0.5em;
    }

    .perfil__username {
        font-size: 15px;
        font-weight: 400;
        padding: 0 0 0.5em 0;
    }

    .user-name {
        display: flex;
        gap: 0.5em;
        justify-content: space-between;
    }

    .perfil__bio {
        margin: 0;
        width: 90%;
        padding: 1em 5em;
    }
    .perfil__lendo {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 2em 10em;
        margin:0;
        gap: 30%
        
    }

    .perfil__resenhas {
        display: grid;
        padding: 2em 10em;
    }

    .perfil__joined {
        text-align: center;
    }

    .perfil__titulo {
        display: flex;
        margin: 0.5em 0;
        align-items: left;
        text-align: left;
    }
    .conteudo__resenhas-user {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 95%;
        list-style-type: none;
    }

    .conteudo__resenhas-user > li {
        flex-basis: 30%;
    }

    .botao__editar-perfil {
        background-color: var(--cor-destaque);
        border: none;
        font-family: var(--fonte-texto);
        font-weight: 700;
        font-size: 16px;
        color: var(--cor-comum);
        padding: 0.5em;
        border-radius: 10px;
        width: 15%;
    }
}